<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finchild.hoppateam.sda4.finchild">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher.">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".Control" />
        <activity android:name=".ChildSpendLimit" />
        <activity android:name=".AccountControl" />
        <activity android:name=".Notifications" />
        <activity android:name=".AllowedMarkets" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Settings" />
        <activity android:name=".AddChildAcount" />
        <activity android:name=".AddParentAccount" />
        <activity android:name=".Analytics" />
        <activity android:name=".AccountChildPurchases" />
        <activity android:name=".AccountChildAutoFill"></activity>
        <service
            android:name=".jobScheduler.DailyFillService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>